<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Endless Dreamer</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="life.css">
    </head>
    <body>
        <div id="app">
            <div class="layout">
                <div class="fixed-up">
                    <nav class="navbar">                
                        <div class="navbarMiniContainer">
                            <div class="dropdown">
                                <button onclick="toggleMenu()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <a class="miniLogo" href="index.html">Endless Dreamer</a>
                            </div>
                            <div id="dropDownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="works.html">作品</a>
                                <a class="dropdown-item" href="life.html">生活</a>
                            </div>
                        </div>
                        <div class="navbarFullContainer">
                            <div class="navbarLogo">
                                <a class="navarLogoText" href="index.html">Endless Dreamer</a>
                            </div>
                            <div class="navbarContent">
                                <a class="navLink" href="works.html">作品</a>
                                <a class="navLink" href="life.html">生活</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="LifeMain">
                    <div class="photobookSelector">
                        <a onclick="showSA()" class="photobookSelectorItem">South America</a>
                        <a onclick="showEU()" class="photobookSelectorItem">Europe</a>
                        <a onclick="showTW()" class="photobookSelectorItem">Taiwan</a>
                    </div>
                    <div id="photoSA" class="photoSAul">
                        <li class="photoSAli" v-for="item in photoSA">
                            <img class="photoSAimg" :src="item.image">
                        </li>
                    </div>
                    <div id="photoEU" class="photoEUul">
                        <li class="photoEUli" v-for="item in photoEU">
                            <img class="photoEUimg" :src="item.image">
                        </li>
                    </div>
                    <div id="photoTW" class="photoTWul">
                        <li class="photoTWli" v-for="item in photoTW">
                            <img class="photoTWimg" :src="item.image">
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function toggleMenu(){
                let menu = document.getElementById("dropDownMenu");
                menu.classList.toggle("dropdownBlock")
            }

            function showSA(){
                let SAdisplay = document.getElementById("photoSA");
                SAdisplay.style.display="block";
                let EUdisplay = document.getElementById("photoEU");
                EUdisplay.style.display="none";
                let TWdisplay = document.getElementById("photoTW");
                TWdisplay.style.display="none";
            }
            function showEU(){
                let EUdisplay = document.getElementById("photoEU");
                EUdisplay.style.display="block";
                let SAdisplay = document.getElementById("photoSA");
                SAdisplay.style.display="none";
                let TWdisplay = document.getElementById("photoTW");
                TWdisplay.style.display="none";
            }
            function showTW(){
                let TWdisplay = document.getElementById("photoTW");
                TWdisplay.style.display="block";
                let EUdisplay = document.getElementById("photoEU");
                EUdisplay.style.display="none";
                let SAdisplay = document.getElementById("photoSA");
                SAdisplay.style.display="none";
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.4/vue.global.min.js"></script>
        <script>
            Vue.createApp({
                data(){
                    return{
                        photoSA:[
                            {   name:'Suck',
                                image:'https://lh3.googleusercontent.com/W8RvkBY_g6CI3TH8f3_X9iK5JhvXVYgSzZaFWA_0krzEr-ncjjHV2OE-6JeaFttLFFj-KYnhdV_Ka0eT6MHllsmzaOuzpbL7fvbvUVUjQzIvae1lo1ZMlgvyOgEDe5q6BdWxjZKCvg=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/et2xUFKDTot2tAaEapvXAEMwZtJSl80RLRcMmhPvZM1c78Y4EyUI8BfHZYf5gjwrXOhHK2f0tOjJjb0903u9qVvQgPgwrM7KG9KimLpUTdrtyma88fRhuptgoRZSrmWyJ7Va6_EFcQ=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/EK-EZ8UuvkL-Ve9WZErBcochL9loC75h45TB3MeiyzP4LJLRHfwIxC-5mJYKWbmyl9dvax9mZXt_W7bS9UcTivW0AsjP87OVsIyxQJjpykjvzUc5BGQabgASE18vN9VNRxCgbRfbTw=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/ey6T1avnukFcuRhbJrh2jd8e85vq8NahNvxMvPflRbpcmpBqXyJT3khBfarpnUONuYsT244A0FoGo2hwGvzh0ODjc42cW9aA19GELWt_s66V7aG5NseHIW0auVaIIImKN37wjEL3Bg=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/nzJQSGimLA_Hputv7UWmStYBxA7kqVtFnZSgwQ03GmsLx_hz23vtX7bAS0FdptIZkRwj8kB7-quZfZhptKpwhymoJJ2BFGcz-0ASz7RnGIy5wA6hNGqEBBxT2oUDpWiLIRTHUmItCw=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/ruYZ1B2KOZlmXrjc_sVFv-Qr74pBZnyO-NxL8QSHC7p-frttFcgnC484HUNCJy9lokCNzLyF8mOhGc7KD9q7BYtuAdNugKNrPlvnEMRbfzfdiKx_bXM8LOVQHad-rZOHOCcFNUMywg=w2400'
                            },
                        ],
                        photoEU:[
                            {
                                image:'https://lh3.googleusercontent.com/tmyIaLZWwoezb-z0aIU0Wmrm_CAW9IUdpSQny-VPkn7t10d7Qg9qpgaXhHqi6ITgBbzTYM9BUFgYLb1hqgNKkKw5aQ7AydRuutxpyNGUVKfdU2Uhvqv-VyzYlW5nG6oY5vGUdfsGOA=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/DKqfAd0vYYywhpi1p-RmzejKKClcysBNtTftwdpY6e8_M4u_OfO6A5QoOZxzr_Htl_XXyu-Nuqfs0RffMHtGPvVl5Xbb0oDCyxgH4jBfGo7w1u0uRRdIrGUxTqWk0PxzvY73Uc9vnw=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/U1k9rILIOCwHI0b2ZcwTg9SN-3KykvCiNhBq2vR-7-FfCziTj2ccHH5K1pxqCxoVyZ2vGZzqkqSDtUO6-7_Ni-3MNP2YIl-RInc-nAcd94LuZxbh2OaS3picE16Vipd1LcNfFYHpqw=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/Jm0R3QA8yPYf91x48HIZXIoz1EE4jU82CmwrtBk8CX9Y6KYUS-GdZx_rDh7o2mCVF6FyVhNfq-1tlQRUqb5QKe8984qM0YYSum4E8T5QppZJnJRzPipevOM7na79gBtnNU64HlzfZA=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/sxirv6zQty4hizlacH3vSCB-ihcVlhtsisIpJj8D0PY9edf3kXC8l-zJ0B8H75wmK6hRwRdG4-WO7wOjidMc76oqlv9EGhsRBuFB0Ccp9kXfTVrA0I7wiMyc8Q_9bfooMF9LbKLSow=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/ukfFGFsKPXrkCmR5WwydOnHvOnCfeoIRYNUFkD2lo4ydgF6CPNk_3dIcb_elB_nbZtX0VtpF8Dt0Iz5vYQ95niq71Y0PUPw8UGt5aDqeeuuFZi6IJBRwteSKROSuVUBwYV3x6x-R3Q=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/ATy1u8lptAfdveUnE6qQsSHaGPTzf6A-m8Dek5I06INGlJjeylhdeqn-cenQTIw7Mk1b0eL5I_kDYS3RDi6FxIimiYRgvkLUXQI6mmFJFHVE0BlMf9gatxU-FumyhU5zb1RutZPy_Q=w2400'
                            },

                        ],
                        photoTW:[
                            {
                                image:'https://lh3.googleusercontent.com/auIy9EclGO90-1U6zI7hGChJ_9cWUxEasVcKBx2uv1uZpG9XPJMLXV-QNsHDpeSn8U0-hJv2lkjXFqf8r-OE2fM4Ypq0zL2nDZ2k7OtR9MBqafhD9JGTmmxpk8Fy3rJ-GaFTZo8Piw=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/lCPPsfxkFQy7e6DuWbZNp0yXRwsYH_Vnd053psIj2Xos2vNhGqOEsR-Sh512LSoaux8nLjhbW-5TyOlX6ozaaFVU5aNXGaqf-jkwDGdikremiqXnMTeZLQEO2uUsCgbY0heMx9V8ww=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/9n6Obt3SFMqVU9RNI_3dlhBDLH5hhJEXF8j2G7IncVM86GGB6VximDe2PywAXrs7YvM6FAMTntZKIZKOiKCY7nJoKGZkW-naklj77qZzAPMgrMZnN4qo2WgxVWHJlYBvpBXUOHU5jA=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/Ty5a8ijHnVQvWKpvuH3h33zuA5rUy6ZbRlH3Ckaf7J6FAokZwP-EhcgPv2rw_oebybllN92ULwgGK-ZuuvvvRORKTxGnp19Tr3z2RfJpLrJH3GU2KgKArdShrTzuTtz7IzjSc_57Ig=w2400'
                            },
                            {
                                image:'https://lh3.googleusercontent.com/9iwFBcQ3ZIBzjsPHaLA8vejuXE6u9-LNsMBAU5Tl4sx1fd8TxoT1XQKN4BodHPzugILDtgyf0BZ0KrfFGYBdl9HVu_-27RRvDS-EbtpZiPOZI1VrN1xQP-8dgUdofOn3wmjCrO5Vjw=w2400'
                            },

                        ]
                        
                    }
                },
                methods:{

                },
                computed:{

                },
                mounted(){

                }
            }).mount('#app')
        </script>
    </body>
</html>