.fixed-top{
    right:0;
    left:0;
    top:0;
}

body{
    background-color:black;
}


/* 窄版選單 */

.dropdown{
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.btn{
    margin-right:2%;
    margin-bottom:10px;
    scale:1;
    background-color:black;
}

#dropdownMenuButton1{
    margin-bottom:0;
}

.miniLogo{
    color:white;
    font-size:42px;
    text-decoration:none;
}
.miniLogo:hover{
    color:white;
}

.dropdownBlock{
    display:flex;
    width:100%;
    justify-content: center;
}

.dropdown-menu{
    padding:0;
    background-color:transparent;
    align-items:center;
}

.dropdown-item{
    font-family:sans-serif;
    font-size:20px;
    text-decoration:none;
    background-color:transparent;
    color:white;
    display:inline;
    text-align: center;
}

/* 寬版選單 */

.navbarFullContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

.navbarLogo{ 
    flex:1;
    display:inline;
    justify-content:space-evenly;
    align-items:center;
}

.navarLogoText{
    color:white;
    font-size:35px;
    margin-left:20px;
    margin-right:20px;
    text-decoration:none;
}

.navarLogoText:hover{
    color:white;
}

.navbarContent{
    margin-left:50px;
    flex:1;
    display:inline;
}

.navLink{
    margin-right:50px;
    font-family:sans-serif;
    font-size:20px;
    text-decoration:none;
    background-color:transparent;
    color:white;
}

.navLink:hover{
    color:white;
}

/* 作品內容頁 */

.type-select{
    background-color:transparent;
    color:white;
}

.WorkMain{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.WorkMainList{
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style-type:none;
    margin-top:40px;
    margin-bottom:60px;
}




@media(max-width:720px){
    .navbarFullContainer{
        display:none;   
    }

    .navbarMiniContainer{
        width:100%;
        background-color: black;
        margin-top:40px;
        position:fixed;
    }

    /* 內容頁-作品 */
    .WorkMain{
        margin-top:120px;
        background-color:black;
    }
    
    .WorkMainText{
        color:white;
        font-size:20px;
        text-decoration:none;
    }

    .WorkMainText:hover{
        color:grey;
    }

    .videosize{
        width:80vw;
        height:45vw;
    }
}

@media(min-width:721px){

    .navbarFullContainer{
        display:block;
    }
    .navbarMiniContainer{
        display:none;
    }

    /* 內容頁-作品 */
    .WorkMain{
        margin-top:90px;
        background-color:black;
    }
    
    .WorkMainText{
        color:white;
        font-size:25px;
        text-decoration:none;
    }
    .WorkMainText:hover{
        color:grey;
    }
    .videosize{
        width:64vw;
        height:36vw;

    }
}